[defaults]
inventory = inventory.yaml
roles_path = roles

[ssh_connection]
# SSH pipelining makes Ansible much faster by sending commands directly over SSH instead
# of copying a temporary file to the remote machine, then executing it via SSH, and then
# deleting it after finished.
pipelining = true